* {
  padding: 0;
}

body {
  box-sizing: border-box;
  height: 100vh;
  background: linear-gradient(90deg, rgba(102,54,124,1) 0%, rgba(55,54,119,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}